
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: 'Raleway', Arial, sans-serif;
}

.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
  background-color: var(--accent1-color);
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

body {
  background-color: #fcfbfb;
}
header {
  background-color: rgba(20, 30, 13, 0.7);
}
nav a:hover {
  background-color: black;
}
.book, .join {
  background-color: var(--secondary-color);
}
.book:hover, .join:hover {
  background-color: var(--primary-color);
}
.msg {
  background-color: var(--accent2-color);
}
footer {
  background-color: var(--accent4-color);
}

nav a,
.book, .join,
.msg h2, .msg p,
footer, footer a {
  color: #9e9c9c;
  text-decoration: none;
}
nav a:hover,
.book:hover, .join:hover,
footer a:hover {
  color: #d9c2a3;
}

.logo, .icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}

nav a,
.book, .join,
footer a {
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 1.2em;
}

body {
  font-size: 22px;
}

.home-title {
  font-size: 2em;
}

.msg p {
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

nav a {
  padding: 35px;
}

.book, .join {
  padding: 15px 30px;
}

.book, .join {
  margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.book, .join {
  border-radius: 5px;
}

.card-img {
  border: 10px solid #d9c2a3;
}

main section img {
  box-sizing: border-box;
}
